html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html a, body a {
  color: #9e9fa4;
  text-decoration: none;
}

html a:hover, body a:hover {
  color: #212121;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  font-size: 40px;
}

@media screen and (max-width: 699px) {
  h1 {
    font-size: 35px;
    margin-top: 0;
  }
}

h3 {
  font-size: 30px;
}

@media screen and (max-width: 899px) {
  h3 {
    font-size: 25;
    margin-top: 0;
  }
}

p {
  font-size: 16px;
}

@media screen and (max-width: 899px) {
  p {
    font-size: 14px;
  }
}

button {
  font-size: 16px;
}

button.primary {
  background: #09A858;
  color: #ffffff;
  padding: 10px 38px;
}

button.generate-password {
  padding: 0 25px;
}

header {
  position: relative;
  display: block;
  height: 70px;
  background-color: #111111;
}

.header-body, content {
  display: -ms-grid;
  display: grid;
  max-width: 1160px;
  margin: auto;
  padding: 15px;
}

content {
  padding-top: 23px;
}

content .note {
  color: #9E9FA4;
  font-size: 12px;
  text-align: center;
  padding: 0 15px;
}

content .content-header {
  background-color: #111111;
  color: #ffffff;
  margin-top: 24px;
  padding: 40px 15px;
}

@media screen and (max-width: 899px) {
  content .content-header {
    padding: 30px 15px;
  }
}

content .content-header .generate-password-wrp {
  text-align: center;
  margin: auto;
}

content .content-header .generate-password-wrp .input-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

content .content-header .generate-password-wrp #generated-password {
  padding: 14px 0 14px 24px;
  border: 1px solid white;
  width: 45%;
  font-size: 20px;
  font-weight: 700;
}

content .content-header .generate-password-wrp #generated-password:focus, content .content-header .generate-password-wrp #generated-password:active {
  outline: none;
}

content .content-header .generate-password-wrp .generate-password {
  background-color: #ffffff;
}

content .content-header .generate-password-wrp .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 463px;
  margin: auto;
  font-size: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

content .content-body {
  margin: auto;
}

content .content-body .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 899px) {
  content .content-body .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
}

content .content-body .post img {
  width: 100%;
}

@media screen and (max-width: 899px) {
  content .content-body .post img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
  }
}

content .content-body .post .img-left {
  max-width: 225px;
}

content .content-body .post .img-right {
  max-width: 224px;
}

content .content-body .post .post-text {
  width: 60%;
}

@media screen and (max-width: 899px) {
  content .content-body .post .post-text {
    width: 100%;
  }
}

content .content-body .post p {
  color: #7A7A7A;
}
/*# sourceMappingURL=main.css.map */